.button1{
   height:50px; 
   width:200px;
}
li{display:inline;}
.mynavber{
	color:rgba(229,206,242,1.00);
	float:right;
    
	
	}
.navbar-child {
    text-decoration:none;
    color:silver;
    padding:10px 20px;
    display:inline;
    font-style:oblique;
    float:right;
    overflow:hidden;
    outline:outset;
    font-size:large;
}
.navbar-child:active{
    outline:inset;
}
.navbar-child:hover{
  text-decoration:none;
  color:white;
  outline:outset;
}

.navbar-parent{
    list-style-type: none;   
    overflow: hidden;  
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    
}
.div1left {
    color:white;
    text-align:right;
    width: 150px;
    height: 200px;
    background: white;
    border: solid;
    border: double;
    border-color: gray;
    background-color:rgba(0, 0, 0,0.5);
    opacity:50%;
    border-radius:10%;
    text-align:justify;
    display:inline-block;
    
}   
body{
        background-image:url("55153144217-wallpapers-best-websites.jpg");
        background-repeat:no-repeat;
        background-size:cover;

}
.div-parent{
    background-color:rgba(118, 155, 165,0.7);
    
    width:315px;
    height:2;
    
    border-radius:2%;
    
    position:static;
    margin:5% 40%;
   
    position:inherit;
    
}
.about{float:left;}
h4 {
text-align:center;
text-shadow:-2px 1px 1px skyblue;
}