
td{text-align:left;}

input{width:350px;
      border-radius:10px 10px;   
    border: 0px;
      
}
.table1{
    margin:270px 400px;
rbga:0,0,0,0.5;
}

button{
    margin:0px 100px;
    height:40px;
    width:70px;
    border-radius:20px 20px;
}
table {
    bottom: 300px;
    left:200px;
    position: absolute;
        
        
}
.in1 {
    
    left: 290px;
    
    position: fixed;
    margin-top: -12px;
        
}
.in2{
    width: 80px;
}
body {
       background-image:url("55153144217-wallpapers-best-websites.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        margin: 0;
      
}
.button1{
   height:50px; 
   width:200px;
}
li{display:inline;}
.mynavber{
	color:rgba(229,206,242,1.00);
	float:left;
    
	
	}
.navbar-child {
    text-decoration:none;
    color:silver;
    padding:10px 10px;
    display:inline;
    font-style:oblique;
    float:right;
    overflow:hidden;
    
    font-size:large;
}
.navbar-child:active{
    
}
.navbar-child:hover{
  text-decoration:none;
  color:white;
  
}

.navbar-parent{
    list-style-type: none;   
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: hsl(565,80%,10%);
    border-bottom:1px;
    border-color:white;
    padding:0;
    margin:0;
}
.div1left {
    width: 150px;
    height: 200px;
    background: white;
    border: solid;
    border: double;
    border-color: gray;
    background-color:rgba(0, 0, 0,0.5);
    opacity:50%;
    border-radius:10%;
    text-align:justify;
    display:inline-block;
}   

.div-parent{
    background-color:rgba(118, 155, 165,0.7);
    
    width:305px;
    
    
    border-radius:2%;
    
    position:static;
    margin:1% 40%;
   
    position:inherit;
    
}
label{
    color:lightgray;
}
footer{
    width:100%;
    height:30px;
    background-color:hsl(565,80%,10%);
    border-top:1px solid;
    border-color:black;
    position:absolute;
    bottom:0px;
    
}
.about{float:left;}
.dropbtn{
    cursor:pointer;
}
.dropdown{
    position:relative;

}
ul{list-style:none;
   padding:0;
   
}